@use '../../utils/' as * ;

/*============= TESTIMONIAL CSS AREA ===============*/
.testimonial1-section-area {
    background: #F6F8FA;

   .testimonial-sliders {
    background: var(--ztc-bg-bg-1);
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.08);
    padding: 24px;
    position: relative;
    .slick-dots {
        margin: 0;
        list-style-type: none;
        margin-top: 24px;
        display: none !important;
        @media #{$xs} {
            display: none !important;
        }
        @media #{$md} {
            display: none !important;
        }
            button {
                display: inline-block;
                width: 12px;
                height: 12px;
                padding: 0;
                border: none;
                margin: 0 20px 0 0;
                border-radius: 100%;
                background-color: #FCEBC8;
                text-indent: -9999px;
                position: relative;
                z-index: 3;
                &::after {
                    height: 28px;
                    width: 28px;
                    display: inline-block;
                    border-radius: 50%;
                    border: 1px solid var(--ztc-text-text-4);
                    position: absolute;
                    content: "";
                    top: -8px;
                    left: -8px;
                    z-index: -1;
                    visibility: hidden;
                    opacity: 0;
                }
            }
            li.slick-active button {
                background: var(--ztc-text-text-4);
                color: var(--ztc-text-text-2);
                &::after {
                    visibility: visible;
                    opacity: 1;
                }
            }
        
    }
    .testimonial-arrows {
        position: absolute;
        right: -100px;
        top: 37%;
        @media #{$xs} {
            position: relative;
            right: 0;
            text-align: center;
            top: 0;
            margin-top: 30px;
            display: flex;
            justify-content: center;
        }
        @media #{$md} {
            position: relative;
            right: 0;
            text-align: center;
            top: 0;
            margin-top: 30px;
            display: flex;
            justify-content: center;
        }
        button {
            border: none;
            height: 52px;
            width: 52px;
            display: inline-block;
            transition: all .4s;
            background: #FCEBC8;
            margin: 12px 0;
            color: var(--ztc-text-text-2);
            @media #{$xs} {
                margin: 0 10px 0 0;
            }
            @media #{$md} {
                margin: 0 10px 0 0;
            }
            &:hover {
                background: var(--ztc-text-text-4);
                color: var(--ztc-bg-bg-1);
                transition: all .4s;
                transform: translateY(-5px);
            }
        }
    }
    .teimonial-slider-nav-area {
        .testimonial-slider-img  {
            img {
                height: 100%;
                width: 100%;
            }
        }
    }
    .testimonial-content-slider {
        .testemonial-boxarea {
            @media #{$xs} {
                margin-top: 30px;
            }
            @media #{$md} {
                margin-top: 30px;
            }
            h4 {
                color: var(--ztc-text-text-2);
                font-family: var(--ztc-family-font1);
                font-size: var(--ztc-font-size-font-s24);
                font-style: normal;
                font-weight: var(--ztc-weight-bold);
                line-height: 24px; 
                margin-bottom: 16px;             
            }
            p {
                color: var(--ztc-text-text-3);
                font-family: var(--ztc-family-font1);
                font-size: var(--ztc-font-size-font-s16);
                font-style: normal;
                font-weight: var(--ztc-weight-regular);
                line-height: 28px;     
            }
            .author-content {
                display: flex;
                align-items: center;
                margin-top: 24px;
                .img1 {
                    img {
                        height: 80px;
                        width: 80px;
                    }
                }
                .content{
                    margin-left: 16px;
                    a {
                        color: var(--ztc-text-text-2);
                        font-family: var(--ztc-family-font2);
                        font-size: var(--ztc-font-size-font-s20);
                        font-style: normal;
                        font-weight: var(--ztc-weight-bold);
                        line-height: 20px; 
                        display: inline-block;
                        transition: all .4s;
                        &:hover {
                            color: var(--ztc-text-text-4);
                            transition: all .4s;
                        }                       
                    }
                }
            }
        }
    }
   }
}

// Homepage 02 //
.testimonial2-section-area {
    position: relative;
    z-index: 1;
    .testimonial-slider-area .owl-item.active.center {
        background: var(--Foundation-Blue-White, #FFF);
        box-shadow: 0px 4px 40px 0px rgba(0, 0, 0, 0.08);   
        transition: all .4s;    
        border: none;
        .testimonial-boxarea {
            border: 1px solid var(--ztc-bg-bg-1);
            transition: all .4s;
            p {
                color: var(--ztc-text-text-2);
                transition: all .4s;
            }
        }
    }
    .testimonial-slider-area {
        position: relative;
        .owl-nav {
            @media #{$xs} {
                display: none;
            }
            @media #{$md} {
                display: none;
            }
            button {
                height: 50px;
                width: 50px;
                text-align: center;
                line-height: 50px;
                border-radius: 50%;
                transition: all .4s;
                background: #FFF6F4;
                color: var(--ztc-text-text-5);
                &:hover {
                    background: var(--ztc-bg-bg-5);
                    color: var(--ztc-text-text-1);
                    transition: all .4s;
                }
            }
            .owl-prev {
                position: absolute;
                left: 0;
                top: 50%;
                margin-top: -50px;
                left: -75px;
            }
            .owl-next {
                position: absolute;
                right: 0;
                top: 50%;
                margin-top: -50px;
                right: -75px;
            }
        }
        .owl-dots {
            text-align: center;
            margin-top: 40px;
            button {
                height: 12px;
                width: 12px;
                text-align: center;
                line-height: 12px;
                border-radius: 50%;
                background: #F8E2DB;
                transition: all .4s;
                position: relative;
                margin: 0 16px 0 0;
                &::after {
                    position: absolute;
                    content: "";
                    height: 28px;
                    width: 28px;
                    border-radius: 50%;
                    background: #F8E2DB;
                    left: -8px;
                    top: -8px;
                    transition: all .4s;
                    z-index: -1;
                    visibility: hidden;
                    opacity: 0;
                }
                &.active {
                    background: var(--ztc-text-text-5);
                    &::after{
                        visibility: visible;
                        opacity: 1;
                    }
                }
            }

        }
        .testimonial-boxarea {
            border: 1px solid #EAEBEB;
            background: var(--Foundation-Blue-White, #FFF);
            position: relative;
            z-index: 1;
            padding: 32px 24px; 
            transition: all .4s;
            .quoto {
                height: 40px;
                width: 40px;
                object-fit: contain;
            }
            p {
                color: var(--ztc-text-text-3);
                font-family: var(--ztc-family-font1);
                font-size: var(--ztc-font-size-font-s20);
                font-style: normal;
                font-weight: var(--ztc-weight-regular);
                line-height: 32px;
                transition: all .4s;          
            } 
           .name-area {
            display: flex;
            align-items: center;
            justify-content: space-between;
            .name {
                a {
                    color: var(--ztc-text-text-2);
                    font-family: var(--ztc-family-font1);
                    font-size: var(--ztc-font-size-font-s20);
                    font-style: normal;
                    font-weight: var(--ztc-weight-bold);
                    line-height: 20px;             
                    transition: all .4s;
                    display: inline-block;
                }
                ul {
                    li {
                        display: inline-block;
                        color: var(--ztc-text-text-4);
                    }
                }
            }
            .google {
                height: 40px;
                width: 40px;
                object-fit: contain;
            }
           }      
        }
    }
}

// Homepage 03 //
.testimonial3-section-area {
    background: #F6F6F6;
   .testimonial-sliders2 {
    background: var(--ztc-bg-bg-1);
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.08);
    padding: 24px;
    border-radius: 4px;
    position: relative;
    .slick-dots {
        margin: 0;
        list-style-type: none;
        margin-top: 24px;
        display: none !important;
        @media #{$xs} {
            display: none !important;
        }
        @media #{$md} {
            display: none !important;
        }
            button {
                display: inline-block;
                width: 12px;
                height: 12px;
                padding: 0;
                border: none;
                margin: 0 20px 0 0;
                border-radius: 100%;
                background-color: #FCEBC8;
                text-indent: -9999px;
                position: relative;
                z-index: 3;
                border-radius: 4px;
                &::after {
                    height: 28px;
                    width: 28px;
                    display: inline-block;
                    border-radius: 50%;
                    border: 1px solid var(--ztc-text-text-6);
                    position: absolute;
                    content: "";
                    top: -8px;
                    left: -8px;
                    z-index: -1;
                    visibility: hidden;
                    opacity: 0;
                }
            }
            li.slick-active button {
                background: var(--ztc-text-text-6);
                color: var(--ztc-text-text-1);
                &::after {
                    visibility: visible;
                    opacity: 1;
                }
            }
        
    }
    .testimonial-arrows {
        position: absolute;
        right: -100px;
        top: 37%;
        @media #{$xs} {
            position: relative;
            right: 0;
            text-align: center;
            top: 0;
            margin-top: 30px;
            display: flex;
            justify-content: center;
        }
        @media #{$md} {
            position: relative;
            right: 0;
            text-align: center;
            top: 0;
            margin-top: 30px;
            display: flex;
            justify-content: center;
        }
        button {
            border: none;
            height: 52px;
            width: 52px;
            display: inline-block;
            transition: all .4s;
            background: #F9E2D5;
            margin: 12px 0;
            color: var(--ztc-text-text-2);
            border-radius: 4px;
            @media #{$xs} {
                margin: 0 10px 0 0;
            }
            @media #{$md} {
                margin: 0 10px 0 0;
            }
            &:hover {
                background: var(--ztc-text-text-6);
                color: var(--ztc-bg-bg-1);
                transition: all .4s;
                transform: translateY(-5px);
            }
        }
    }
    .teimonial-slider-nav-area {
        .testimonial-slider-img  {
            img {
                height: 100%;
                width: 100%;
                border-radius: 4px;
            }
        }
    }
    .testimonial-content-slider {
        .testemonial-boxarea {
            @media #{$xs} {
                margin-top: 30px;
            }
            @media #{$md} {
                margin-top: 30px;
            }
            h4 {
                color: var(--ztc-text-text-2);
                font-family: var(--ztc-family-font1);
                font-size: var(--ztc-font-size-font-s24);
                font-style: normal;
                font-weight: var(--ztc-weight-bold);
                line-height: 24px; 
                margin-bottom: 16px;             
            }
            p {
                color: var(--ztc-text-text-3);
                font-family: var(--ztc-family-font1);
                font-size: var(--ztc-font-size-font-s16);
                font-style: normal;
                font-weight: var(--ztc-weight-regular);
                line-height: 28px;     
            }
            .author-content {
                display: flex;
                align-items: center;
                margin-top: 24px;
                .img1 {
                    img {
                        height: 80px;
                        width: 80px;
                        border-radius: 4px;
                    }
                }
                .content{
                    margin-left: 16px;
                    a {
                        color: var(--ztc-text-text-2);
                        font-family: var(--ztc-family-font2);
                        font-size: var(--ztc-font-size-font-s20);
                        font-style: normal;
                        font-weight: var(--ztc-weight-bold);
                        line-height: 20px; 
                        display: inline-block;
                        transition: all .4s;
                        &:hover {
                            color: var(--ztc-text-text-6);
                            transition: all .4s;
                        }                       
                    }
                }
            }
        }
    }
   }
}

// Homepage 04 //
.testimonial4-section-area {
    position: relative;
    z-index: 1;
    background: #F6F6F6;
    .testionial4-slider-area {
        position: relative;
       .owl-stage-outer {
        overflow: inherit;
       }
       .owl-dots {
        text-align: center;
        margin-top: 40px;
            button {
                height: 10px;
                width: 10px;
                text-align: center;
                line-height: 10px;
                border-radius: 50%;
                transition: all .4s;
                background: var(--ztc-text-text-2);
                position: relative;
                z-index: 1;
                display: inline-block;
                margin: 0 16px 0 0;
                &::after {
                    position: absolute;
                    content: "";
                    height: 16px;
                    width: 16px;
                    text-align: center;
                    line-height: 16px;
                    border: 1px solid var(--ztc-text-text-2);
                    border-radius: 50%;
                    top: -3px;
                    left: -3px;
                    visibility: hidden;
                    opacity: 0;
                }
                &.active {
                    &::after {
                        visibility: visible;
                        opacity: 1;
                        transition: all .4s;
                    }
                }
            }
       }
        .testimonial4-boxarea {
            position: relative;
            border-radius: 8px;
            background: #FFF;
            padding: 70px 24px 35px 24px;
            .icons {
                border-radius: 70px;
                background: var(--3rd, #FFD61E);
                box-shadow: 0px 4px 20px 0px rgba(47, 128, 237, 0.25);
                height: 70px;
                width: 70px;
                text-align: center;
                line-height: 70px;
                border-radius: 50%;
                transition: all .4s;
                position: absolute;
                top: -30px;
                img {
                    height: 30px;
                    width: 30px;
                    text-align: center;
                    display: inline-block;
                }                
            }
            .text-area {
                p {
                    color: var(--ztc-text-text-2);
                    font-family: var(--ztc-family-font1);
                    font-size: var(--ztc-font-size-font-s18);
                    font-style: normal;
                    font-weight: var(--ztc-weight-meduim);
                    line-height: 30px;  
                    display: inline-block;               
                }
                .name-area {
                    a {
                        color: var(--Text-Color, #03071E);
                        font-family: var(--ztc-family-font1);
                        font-size: var(--ztc-font-size-font-s20);
                        font-style: normal;
                        font-weight: var(--ztc-weight-bold);
                        line-height: 20px;    
                        display: block;
                        transition: all .4s;                   
                    }
                    p {
                        color: var(--Paragraph-Color, #6C757D);
                        font-family: var(--ztc-family-font1);
                        font-size: var(--ztc-font-size-font-s16);
                        font-style: normal;
                        font-weight: var(--ztc-weight-meduim);
                        line-height: 16px; 
                        display: inline-block;                      
                    }
                }
            }
        }
    }
}

// Homepage 05 //
.testimonial5-section-area {
    position: relative;
    z-index: 1;
    background: #F6F8FA;
    .testionial5-slider-area {
        position: relative;
       .owl-stage-outer {
        overflow: inherit;
       }
       .owl-dots {
        text-align: center;
        margin-top: 40px;
            button {
                height: 10px;
                width: 10px;
                text-align: center;
                line-height: 10px;
                border-radius: 50%;
                transition: all .4s;
                background: var(--ztc-text-text-2);
                position: relative;
                z-index: 1;
                display: inline-block;
                margin: 0 16px 0 0;
                &::after {
                    position: absolute;
                    content: "";
                    height: 16px;
                    width: 16px;
                    text-align: center;
                    line-height: 16px;
                    border: 1px solid var(--ztc-text-text-2);
                    border-radius: 50%;
                    top: -3px;
                    left: -3px;
                    visibility: hidden;
                    opacity: 0;
                }
                &.active {
                    &::after {
                        visibility: visible;
                        opacity: 1;
                        transition: all .4s;
                    }
                }
            }
       }
        .testimonial5-boxarea {
            position: relative;
            border-radius: 8px;
            background: #FFF;
            padding: 70px 24px 35px 24px;
            .icons {
                border-radius: 70px;
                background: var(--ztc-bg-bg-8);
                box-shadow: 0px 4px 20px 0px rgba(47, 128, 237, 0.25);
                height: 70px;
                width: 70px;
                text-align: center;
                line-height: 70px;
                border-radius: 50%;
                transition: all .4s;
                position: absolute;
                top: -30px;
                img {
                    height: 30px;
                    width: 30px;
                    text-align: center;
                    display: inline-block;
                    filter: brightness(0) invert(1);
                }                
            }
            .text-area {
                p {
                    color: var(--ztc-text-text-2);
                    font-family: var(--ztc-family-font1);
                    font-size: var(--ztc-font-size-font-s18);
                    font-style: normal;
                    font-weight: var(--ztc-weight-meduim);
                    line-height: 30px;  
                    display: inline-block;               
                }
                .name-area {
                    a {
                        color: var(--Text-Color, #03071E);
                        font-family: var(--ztc-family-font1);
                        font-size: var(--ztc-font-size-font-s20);
                        font-style: normal;
                        font-weight: var(--ztc-weight-bold);
                        line-height: 20px;    
                        display: block;
                        transition: all .4s;                   
                    }
                    p {
                        color: var(--Paragraph-Color, #6C757D);
                        font-family: var(--ztc-family-font1);
                        font-size: var(--ztc-font-size-font-s16);
                        font-style: normal;
                        font-weight: var(--ztc-weight-meduim);
                        line-height: 16px; 
                        display: inline-block;                      
                    }
                }
            }
        }
    }
}
/*============= TESTIMONIAL CSS AREA ENDS ===============*/